<a href="https://colab.research.google.com/github/singhpriyansh2006-rgb/Priyansh-/blob/main/PYTHON_EXP_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NAME-Priyansh Singh
  SAP id - 590029118**

**LOOPS**

url -https://github.com/singhpriyansh2006-rgb/Priyansh-/blob/main/PYTHON_EXP_3.ipynb

In [ ]:
#WAP to Find a factorial of given number
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("Factorial of", num, "is", factorial)

Enter a number: 58
Factorial of 58 is 2350561331282878571829474910515074683828862318181142924420699914240000000000000

In [ ]:
#WAP to Find whether the given number is Armstrong numbe
num = int(input("Enter a number: "))

temp = num
order = len(str(num))
sum = 0

while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10
if sum == num:
    print(num, "is an Armstrong number")
else:
    print(num, "is NOT an Armstrong number")

Enter a number: 171
171 is NOT an Armstrong number

In [ ]:
#WAP to  Print Fibonacci series up to given term.
n = int(input("Enter number of terms: "))

a = 0
b = 1

print("Fibonacci Series:")

if n <= 0:
    print("Please enter a positive number")
elif n == 1:
    print(a)
else:
    print(a)
    print(b)
    for i in range(2, n):
        c = a + b
        print(c)
        a = b
        b = c

Enter number of terms: 12
Fibonacci Series:
0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#WAP toWrite a program to find if given number is prime number or not
num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is NOT a Prime Number")
else:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is NOT a Prime Number")
            break
    else:
        print(num, "is a Prime Number")

Enter a number: 789
789 is NOT a Prime Number

In [ ]:
#WAP to Check whether given number is palindrome or not.
num = int(input("Enter a number:"))
original = num
reverse = 0

while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num //= 10
if original == reverse:
    print(original, "is a Palindrome number")
else:
    print(original, "is NOT a Palindrome number")

Enter a number:1234
1234 is NOT a Palindrome number

In [ ]:
#WAP to Write a program to print sum of digits.
num = int(input("Enter a number:"))
temp = num
sum_of_digits = 0

while temp > 0:
    digit = temp % 10
    sum_of_digits += digit
    temp //= 10
print("Sum of digits of", num, "is", sum_of_digits)

Enter a number:47
Sum of digits of 47 is 11

In [ ]:
#WAP to Count and print all numbers divisible by 5 or 7 between 1 to 100
count = 0

print("Numbers divisible by 5 or 7 between 1 and 100:")

for i in range(1, 101):
    if i % 5 == 0 or i % 7 == 0:
        print(i, end=" ")
        count += 1

print("Total count =", count)

Numbers divisible by 5 or 7 between 1 and 100:
5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100 Total count = 32

In [ ]:
#WAP to Convert all lower cases to upper case in a string.
text = input("Enter a string: ")
upper_text = text.upper()

print("String in uppercase:", upper_text)

Enter a string: my name is priyansh
String in uppercase: MY NAME IS PRIYANSH

In [ ]:
#WAP to Print the table for a given number:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "*", i, "=", num * i)

Enter a number: 13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [ ]:
#WAP to Write a program to print the following pattern
n = 5

for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print(j, end="")
    for k in range(n - i):
        print("*", end="")
    for k in range(n - i):
        print("*", end="")
    for j in range(i, 0, -1):
        print(j, end="")

    print()

1234554321
1234**4321
123****321
12******21
1********1

In [ ]:
#WAP to Write a program to print the sum of the following series
n = int(input("Enter the value of n: "))

sum_series = 0

for i in range(1, n + 1):
    sum_series += 1 / i
print("Sum of the series is:", sum_series)

Enter the value of n: 5
Sum of the series is: 2.283333333333333

**THANK YOU**